html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    /*background-image: url('./Pic/Pic_4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    */
    background-color: #FFF;
}

header {
    background-color: #FFF;
    color: #161E51;
    padding: 0.7em;
    display: flex;
    height: 8vh;
    width: 84vw;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 10;
    justify-content: space-around; /* Распределяет элементы по ширине */
    align-items: center; /* Центрирует элементы по вертикали */
}

.main-head{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.logo-container{
    width: 15vw;
    align-content: center;
}

.logo-pic img{
    height: 8vh;
    object-fit: cover;
}

.void-container{
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.contact-info {
    margin-top: -1vh;
    margin-bottom: -1vh;
    font-size: 0.9em;
}

.language-selector select {
    background-color: #444;
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    margin-top: 1vh;
}

.language-selector select:focus {
    outline: none;
}

nav {
    background-color: #FFF;
    color: #161E51;
    display: flex;
    justify-content: space-around; /* Распределяет элементы по ширине */
    align-items: center; /* Центрирует элементы по вертикали */
    margin: 0 auto;
    padding: 0.7em;
    height: 3vh;
}

nav a {
    color: #161E51;
    font-size: large;
    text-decoration: none;
    padding: 0.5em 1em; /* Отступы внутри элементов */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Roboto', sans-serif;
    margin: 0 2em; /* Отступы между элементами */
}


nav a:hover {
    background-color: #edf1f2;
    color: #161E51;
}

#main-content {
    height: 85vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 85vw;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 10;
}

#main-content::-webkit-scrollbar {
    display: none;
}

#main-content {
    -ms-overflow-style: none; /* Для Internet Explorer и Edge */
    scrollbar-width: none; /* Для Firefox */
}

.section {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
    background-color: #f0f0f0;
    font-size: 2em;
    /*border-radius: 25px;*/
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    flex: 1;
    margin-right: 20px;
    word-wrap: break-word;
    width: 50vw;
    min-width: none;
    margin-top: -15vh;
}

.content1 {
    display: flex;
}

.text1 {
    color: white;
    word-wrap: break-word;
    float: right;
}

.image img {
    width: 30vw;
    height: 75vh;
    object-fit: cover;
}

#section1 { 
    /*background-color: transparent; */
    background-image: url('./Pic/Pic_4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*
#section2 { background-color: #f0f0f0; }
#section3 { background-color: #e0e0e0; }
#section4 { background-color: #c8c8c8; }
#section5 { background-color: #909090; }
*/

/* Определяем цвета для секций */
:root {
    --color1: #f0f0f0;
    --color2: #e0e0e0;
    --color3: #c8c8c8;
    --color4: #909090;
}

/* Стили для секций с градиентным фоном */
#section2 {
    background: linear-gradient(to bottom, var(--color1), var(--color2));
}

#section3 {
    background: linear-gradient(to bottom, var(--color2), var(--color3));
}

#section4 {
    background: linear-gradient(to bottom, var(--color3), var(--color4));
}

#section5 {
    background: linear-gradient(to bottom, var(--color4), #606060); /* Завершающий цвет */
}